@model IEnumerable<NewsApp.Models.NewsItem>

<h2>News</h2>

<table class="table table- condensed table-hover table-bordered">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Text</td>
                <td>@item.DateCreated</td>
            </tr>
        }
    </tbody>
</table>